<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Website</title>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</head>

<body>
  <nav data-aos="fade-down" id="head" style="padding: 1.5% 11% 0.9% 5%; border:2px solid #008891; border-bottom:6px solid #008891; font-size:1.1rem;" class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <button  type="button" class="navbar-toggler bg-dark" data-toggle="collapse" data-target="#collapse_target" name="button">
      <span  class="navbar-toggler-icon bg-dark"></span></button>
    <div class="collapse navbar-collapse" id="collapse_target">
      <a href="/" style="color:black !important; font-weight:bolder;" class="navbar-brand">Logo</a>
      <span style="color:black !important; font-weight:bolder;" class="navbar-text">IDMA</span>
      <ul class="navbar-nav ml-auto">
        <li  class="nav-item nav-head-items"> <a style="color:black !important; font-weight:bolder;" class="nav-link" href="/About">About Us</a></li>
        <li  class="nav-item nav-head-items dropdown"> <a style="color:black !important; font-weight:bolder;" class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#">Membership
            <span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdown_target">
            <div class="dropdown-divider"></div>
            <a href="/Membership" class="dropdown-item">Corporate </a>
            <a href="/Membership" class="dropdown-item">Educational Organizations</a>
            <a href="/Membership" class="dropdown-item">Freelancers</a>
            <a href="/Membership" class="dropdown-item">Agencies</a>
          </div>
        </li>
        <li class="nav-item nav-head-items dropdown"> <a style="color:black !important; font-weight:bolder;" class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#">Events
            <span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdown_target">
            <div class="dropdown-divider"></div>
            <a href="/Events" class="dropdown-item">Summit </a>
            <a href="/Events" class="dropdown-item">Bootcamp</a>
            <a href="/Events" class="dropdown-item">Webinar</a>
          </div>
        </li>
        <li class="nav-item nav-head-items"> <a style="color:black !important; font-weight:bolder;" class="nav-link" href="/Training">Training & Education</a></li>
        <li class="nav-item nav-head-items"> <a style="color:black !important; font-weight:bolder;" class="nav-link" href="/Certification">Agency & Certification</a></li>
        <li class="nav-item nav-head-items"> <a style="color:black !important; font-weight:bolder;" class="nav-link" href="/Awards">Awards</a></li>
        <li class="nav-item nav-head-items"> <a style="color:black !important; font-weight:bolder;" class="nav-link" href="/Partnership">Partnership Opportunities</a></li>
        <li class="nav-item nav-head-items"> <a style="color:black !important; font-weight:bolder;" class="nav-link" href="/Contact">Contact Us</a></li>
      </ul>
    </div>
  </nav>
