<%- include("partials/header") %>
<section data-aos="fade-down" data-aos-easing="linear"
     data-aos-duration="100" id="Landing">

  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="big-heading top-heading">BIG HEADING.</h1>
        <h1 class="big-heading">Heading.</h1>
        <p class="head-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
      </div>
      <div class="col">
      </div>
    </div>
  </div><br><br>
  <div class="card-deck">
    <div data-aos="zoom-in-left" data-aos-easing="linear"
         data-aos-duration="100" class="card">
      <img class="card-img-top" style="width:100%; height:200px;" src="/images/Ecard.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div data-aos="zoom-in-down" data-aos-easing="linear"
         data-aos-duration="100" class="card">
      <img class="card-img-top" style="width:100%; height:200px;" src="/images/Ecard.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
    <div data-aos="zoom-in-right" data-aos-easing="linear"
         data-aos-duration="100" class="card">
      <img class="card-img-top" style="width:100%; height:200px;" src="/images/Ecard.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
  </div>
</section>
<section data-aos="fade-up" data-aos-easing="linear"
     data-aos-duration="100" id="Home2">
  <br>
  <h1>TOPIC</h1>
  <hr style="height: 2px; background: black">
  <br>
  <div class="card-deck">
    <div data-aos="zoom-in-down" data-aos-easing="linear"
         data-aos-duration="100" class="card">
      <img class="card-img-top" style="width:100%; height:200px;" src="/images/Ecard2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div data-aos="zoom-in-down" data-aos-easing="linear"
         data-aos-duration="100"class="card">
      <img class="card-img-top" style="width:100%; height:200px;" src="/images/Ecard2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div data-aos="zoom-in-down" data-aos-easing="linear"
         data-aos-duration="100" class="card">
      <img class="card-img-top" style="width:100%; height:200px;" src="images/Ecard2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</section>
<section data-aos="fade-up" data-aos-easing="linear"
     data-aos-duration="100" id="Home3">
  <br>
  <h1>TOPIC</h1>
  <hr style="height: 2px; background: black">
  <br>
  <div class="card-deck">
    <div data-aos="zoom-in-down" data-aos-easing="linear"
         data-aos-duration="100" class="card">
      <img class="card-img-top" style="width:100%; height:200px;" src="images/Ecard3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div data-aos="zoom-in-down" data-aos-easing="linear"
         data-aos-duration="100" class="card">
      <img class="card-img-top" style="width:100%; height:200px;" src="images/Ecard3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div data-aos="zoom-in-down" data-aos-easing="linear"
         data-aos-duration="100" class="card">
      <img class="card-img-top" style="width:100%; height:200px;" src="images/Ecard3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</section>
<section data-aos="fade-up" data-aos-easing="linear"
     data-aos-duration="100" id="Home5">
  <div class="features">
    <h1 style="color:black;">Why Join The IDMA?</h1>
    <hr style="height: 2px; background: black"><br>
    <div class="card-deck">
      <div data-aos="zoom-in-down" data-aos-easing="linear"
           data-aos-duration="100"style="background-color:#52575d;" class="card">
        <div class="card-body">
          <h2 style="color:rgba(255,255,255,.9);" class="card-title">Heading</h2>
          <p style="1.2rem; color:rgba(255,255,255,.9);" class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div data-aos="zoom-in-down" data-aos-easing="linear"
           data-aos-duration="100" style="background-color:black" class="card">
        <div class="card-body">
          <h2 style="color:rgba(255,255,255,.9);" class="card-title">Heading</h2>
          <p style="1.2rem; color:rgba(255,255,255,.9);;" class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div data-aos="zoom-in-down" data-aos-easing="linear"
           data-aos-duration="100" style="background-color:#ff4b5c;" class="card">
        <div class="card-body">
          <h2 style="color:rgba(255,255,255,.9);" class="card-title">Heading</h2>
          <p style="1.2rem; color:rgba(255,255,255,.9);" class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section data-aos="fade-up" data-aos-easing="linear"
     data-aos-duration="100" id="Home4">
  <br>
  <h1>TOPIC</h1>
  <hr style="height: 2px; background: black">
  <br>
  <div class="card-deck">
    <div data-aos="zoom-in-down" data-aos-easing="linear"
         data-aos-duration="100" class="card">
      <img class="card-img-top" style="width:100%; height:200px;" src="images/Ecard4.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div data-aos="zoom-in-down" data-aos-easing="linear"
         data-aos-duration="100" class="card">
      <img class="card-img-top" style="width:100%; height:200px;" src="images/Ecard4.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div data-aos="zoom-in-down" data-aos-easing="linear"
         data-aos-duration="100" class="card">
      <img class="card-img-top" style="width:100%; height:200px;" src="images/Ecard4.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</section>
<%- include("partials/footer") %>
